<!DOCTYPE html>
<html>
<head>
   <title>Satellite HTML Report Inventory</title>
   <style>
       table,th,td {
               border-collapse:collapse;
               border: 1px solid black;
               text-align: center;
       }
       th {
           background-color: black;
           color: white;
           border: 1px solid white;
           text-align: center;
           vertical-align: bottom;
           height: 150px;
           padding-bottom: 3px; 
           padding-left: 5px; 
           padding-right: 5px; 
       }
       td.green {
           background-color:#92d400;
           color:white;
       }
       td.yellow {
           background-color:#f0ab00;
           color:black;
       }
       td.red {
           background-color:#CC0000;
           color:white;
       }

       .rotate {
                text-align: center;
                vertical-align: middle;
                width: 20px;
                margin: 0px;
                padding: 0px;
                padding-left: 3px;
                padding-right: 3px;
                padding-top: 10px;
                white-space: nowrap;
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                transform: rotate(-90deg);
       }

   </style> 
</head>
<body>
<table>
<tr> 
    <% packages = { "ruby" => "ruby", "python" => "python", "php" => "php", "apache" => "httpd", "java" => "java-1.8.0-openjdk", "mysql" => "mariadb", "postgres" => "postgresql", "pacemakerd" => "pacemakerd", "corosync" => "corosync", "docker" => "docker" } %>
      <th> Hostname </th>
       <th> Status </th>
       <th> OS </th>
       <th> Kernel </th>
       <th> <div class="rotate"> Security </div></th>
       <th> <div class="rotate"> Bugfix </div></th>
       <th> <div class="rotate"> Enhancement </div></th>
       <th> <div class="rotate"> Packages </div></th>
       <%- packages.each do |name,package| -%>       
            <th> <%=  name  -%> </th>
       <% end -%>
</tr>

<%- load_hosts(search: input('hosts')).each_record do |host| -%>
   <tr> 
   <td> <%= host.name   %> </td> 
   <% if host.global_status == 0 -%>
       <td class="green"> OK </td>
   <% elsif host.global_status == 1 -%>
       <td class="yellow"> Warning </td>
   <% else -%>
       <td class="red" style="eight: 150px;"> Error (<%= host.global_status %>) </td>
   <% end -%>
   
   <td> <%= host.operatingsystem %> </td>
   
   <%if host.facts["uname::release"] != nil -%>
       <% if host_latest_applicable_rpm_version(host, 'kernel') != nil -%>
           <% if "kernel-" + host.facts["uname::release"] != host_latest_applicable_rpm_version(host, 'kernel') -%>
                <td class="red"> <%= host.facts["uname::release"].sub(/\.(el\d\.)*x86_64/,"") %> </td>
           <% else -%>
                <td class="green"> <%= host.facts["uname::release"].sub(/\.(el\d\.)*x86_64/,"") %> </td>
           <% end -%>       
        <% else -%>
            <td class="yellow"> <%= host.facts["uname::release"].sub(/\.(el\d\.)*x86_64/,"") %> </td>
       <% end -%>
   <% else -%>
        <td>  </td>
   <% end -%>
   
   <% errata_type = { "security" => "", "bugfix" => "", "enhancement" => "" } %>
   <%- errata_type.each_key do |type| -%>
       <% value = host.applicable_errata.select{|erratum| erratum.errata_type == type}.length %>
       <% if value == 0 -%>
            <td class="green">  <%= value -%> </td>
        <% else -%>
            <td class="red"> <%= value -%> </td>
        <% end -%>
    <% end -%>

   <td> <%=   host_latest_applicable_rpm_version(host,'*') -%> </td>
   <%- packages.each do |name,package| -%>
        <% value = host_latest_applicable_rpm_version(host,package) %>
        <% if name == "java" -%>
            <%if value != nil -%>
                <td class="yellow"> <%=  value  -%> </td>
            <% else -%>
                <% package = "java-1.7.0-openjdk" %>
               <% value = host_latest_applicable_rpm_version(host,package) %>
               <%if value != nil -%>
                   <td class="yellow"> <%=  value.sub(/\.(el\d\.)*x86_64/,"")  -%> </td>
               <% else -%>
                    <% package = "java-1.6.0-openjdk" %>
                    <% value = host_latest_applicable_rpm_version(host,package) %>
                   <%if value != nil -%>
                       <td class="yellow"> <%=  value.sub(/\.(el\d\.)*x86_64/,"")  -%> </td>
                   <% else -%>
                            <td>  </td>
                   <% end -%>
                <% end -%>
           <% end -%>
        <% elsif name == "docker" -%>
            <%if value != nil -%>
                <td class="yellow"> <%=  value.sub(/\.(el\d\.)*x86_64/,"")  -%> </td>
            <% else -%>
                <% package = "docker-ce" %>
               <% value = host_latest_applicable_rpm_version(host,package) %>
               <%if value != nil -%>
                   <td class="yellow"> <%=  value.sub(/\.(el\d\.)*x86_64/,"")  -%> </td>
               <% else -%>
                    <% package = "podman" %>
                    <% value = host_latest_applicable_rpm_version(host,package) %>
                   <%if value != nil -%>
                       <td class="yellow"> <%=  value.sub(/\.(el\d\.)*x86_64/,"")  -%> </td>
                   <% else -%>
                        <td>  </td>
                   <% end -%>
                <% end -%>
           <% end -%>
     
        <% elsif name == "mysql" -%>
            <%if value != nil -%>
                <td class="yellow"> <%=  value.sub(/\.(el\d\.)*x86_64/,"")  -%> </td>
            <% else -%>
                <% package = "mysql-server" %>
               <% value = host_latest_applicable_rpm_version(host,package) %>
               <%if value != nil -%>
                   <td class="yellow"> <%=  value.sub(/\.(el\d\.)*x86_64/,"")  -%> </td>
               <% else -%>
                    <% package = "mysql-client" %>
                    <% value = host_latest_applicable_rpm_version(host,package) %>
                   <%if value != nil -%>
                       <td class="yellow"> <%=  value.sub(/\.(el\d\.)*x86_64/,"")  -%> </td>
                   <% else -%>
                        <td>  </td>
                   <% end -%>
                <% end -%>
           <% end -%>     
        <% elsif name == "php" -%>
            <%if value != nil -%>
                <td class="yellow"> <%=  value.sub(/\.(el\d\.)*x86_64/,"")  -%> </td>
            <% else -%>
                <% package = "php-cli" %>
               <% value = host_latest_applicable_rpm_version(host,package) %>
               <%if value != nil -%>
                   <td class="yellow"> <%=  value.sub(/\.(el\d\.)*x86_64/,"")  -%> </td>
               <% else -%>
                    <td>  </td>
                <% end -%>
           <% end -%>        
        <% else -%>
           <% value = host_latest_applicable_rpm_version(host,package) %>
           <%if value != nil -%>
               <td class="yellow"> <%=  value.sub(/\.(el\d\.)*x86_64/,"")  -%> </td>
           <% else -%>
                <td>  </td>
           <% end -%>
        <% end -%>
   <% end -%>
   </tr>
<% end -%>

</table>
</body>
</html>
